name: Main

on:
  pull_request:
  push:
    branches:
      - main

permissions:
  contents: write
  id-token: write

jobs:
  lint:
    uses: ./.github/workflows/lint.yaml
  type-checking:
    uses: ./.github/workflows/type-checking.yaml
    needs: [lint]
  tests:
    needs: [lint, type-checking]
    uses: ./.github/workflows/tests.yaml
  snyk:
    needs: [lint, tests]
    uses: ./.github/workflows/snyk.yaml
    secrets: inherit